<!-- <nav class="text-center bg-danger">
  THIS IS NAV <br />
  <a href="/login">Login</a> | <a href="/register">Register</a> |
  <a href="/me/logout">Logout</a>
</nav> -->
<nav class="navbar bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item me-3">
        <a class="nav-link active" aria-current="page" href="../">Home</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/me/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>