<!DOCTYPE html>
<html>
  <?- include('../partials/head') -?>
  <body>
    <?- include('../partials/header') -?>
    <?- include('../partials/nav') -?>
    <div class="container text-center">
        <img src="https://images.pexels.com/photos/2444141/pexels-photo-2444141.jpeg?cs=srgb&dl=pexels-sadiqur-rahman-1280454-2444141.jpg&fm=jpg" class="img-fluid" alt="Responsive image">
      <h1><?= pageData.title ?></h1>
      <p>
        Welcome to
        <?= pageData.title ?>
      </p>
    </div>
    <?- include('../partials/footer') -?>
  </body>
</html>
